## Deliverable 3. Create a Travel Itinerary Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Takoradi,GH,77.90,overcast clouds,4.8845,-1.7554,Raybow International Hotel
1,6,Jamestown,US,78.53,light rain,42.0970,-79.2353,Hampton Inn & Suites Jamestown
2,7,Belgrade,RS,83.86,clear sky,44.8040,20.4651,Saruna Wellness - Hotel Park Belgrade
3,14,Hilo,US,77.29,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
4,24,Izumo,JP,78.75,scattered clouds,35.3667,132.7667,Toyoko-Inn Izumoshi ekimae
...,...,...,...,...,...,...,...,...
200,656,Pontianak,ID,75.40,broken clouds,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center
201,658,Sigli,ID,78.35,overcast clouds,5.3848,95.9609,Losmen Dua Mali
202,661,Hasaki,JP,79.20,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel
203,664,Ligayan,PH,83.88,scattered clouds,4.6533,119.4706,
204,667,Rock Springs,US,79.23,clear sky,41.5875,-109.2029,Homewood Suites by Hilton Rock Springs

In [10]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [11]:
# Make a map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
              
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
input("Ready to discover your vacation itenerary (Yes or No)")
vacation_start_city = input("From what city would you like to start your vacation?")
vacation_stop_city = vacation_start_city
vacation_stop_1_city = input("What is the first city to stop in on your vacation?")
vacation_stop_2_city = input("What is the second city to stop in on your vacation?")
vacation_stop_3_city = input("What is the third city to stop in on your vacation?")

Ready to discover your vacation itenerary (Yes or No)Yes
From what city would you like to start your vacation?Port Angeles
What is the first city to stop in on your vacation?Centralia
What is the second city to stop in on your vacation?Portland
What is the third city to stop in on your vacation?Roseburg

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == vacation_start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_stop_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == vacation_stop_1_city]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == vacation_stop_2_city]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == vacation_stop_3_city]

In [14]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
78,306,Port Angeles,US,77.22,scattered clouds,48.1181,-123.4307,Red Lion Hotel Port Angeles Harbor

In [15]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end =  vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 =  vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 =  vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 =  vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

start

(48.1181, -123.4307)

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Create a vacation itinerary layer
vacation_itinerary = gmaps.directions_layer(
    start,
    end, 
    waypoints=[stop1, stop2, stop3],
    travel_mode="DRIVING"
)


fig.add_layer(vacation_itinerary)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,306,Port Angeles,US,77.22,scattered clouds,48.1181,-123.4307,Red Lion Hotel Port Angeles Harbor
1,464,Centralia,US,75.07,clear sky,46.7162,-122.9543,Peppermill Inn
2,210,Portland,US,81.99,few clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
3,438,Roseburg,US,84.51,clear sky,43.2165,-123.3417,"Holiday Inn Express Roseburg, an IHG Hotel"

In [19]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [20]:
# Create a map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map.
# Create marker layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


fig.add_layer(marker_layer)

# 11b. Display the figure
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))